// Override Uikit styling

.uk-navbar-dropdown {
    margin-top: 0;
}

.uk-nav-header {
    padding: 15px;
    margin-top: 10px;
}

nav {
    .uk-breadcrumb {
        margin: 0;
    }
}

.uk-button {
    padding-left: 20px;
    padding-right: 20px;
}
